# Ignore terraform sensitive variable file
/terraform/credentials.auto.tfvars

# Ignore terraform files created by terraform init
/terraform/.terraform
/terraform/terraform.tfstate
/terraform/.terraform.lock.hcl